.DS_Store
*.jar
.jar

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
.idea/compiler.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.classpath
.project
.settings/
target/
*/target/*
*/target/**

cloudconfigserver/target/**
cloudgateway/target/**
hystrixdashboard/target/**
serviceregistry/target/**
urlservice/target/**
userservice/target/**

cloudconfigserver/target/*
cloudgateway/target/*
hystrixdashboard/target/*
serviceregistry/target/*
urlservice/target/*
userservice/target/*

cloudconfigserver-1.0-SNAPSHOT.jar
cloudgateway-1.0-SNAPSHOT.jar
hystrixdashboard-1.0-SNAPSHOT.jar
serviceregistry-1.0-SNAPSHOT.jar
urlservice-1.0-SNAPSHOT.jar
userservice-1.0-SNAPSHOT.jar

cloudconfigserver-1.0-SNAPSHOT.jar.original
cloudgateway-1.0-SNAPSHOT.jar.original
hystrixdashboard-1.0-SNAPSHOT.jar.original
serviceregistry-1.0-SNAPSHOT.jar.original
urlservice-1.0-SNAPSHOT.jar.original
userservice-1.0-SNAPSHOT.jar.original